<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rubberducks.getmejob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Registration.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration.LoginSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Navigation"
            android:label="@string/title_activity_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Registration.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration.VerifyOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registration.ResetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JobSearch.JobSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JobSearch.AllJobsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JobSearch.JobDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Notifcation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.EmployeProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.QualificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.WorkExprience"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JobSearch.PreferenceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Profile.SkillActivity" />
        <activity android:name=".JobSearch.JobStatusActivity"></activity>
    </application>

</manifest>